.AjouterTache {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    .form {
        margin: 40px 0 10px;
        display: flex;
      }
      
      .form_input {
        outline: none;
        border: 0;
        border-radius: 0;
        border-bottom: 1px dotted #666;
        padding: 0 0 10px 0;
        width: 100%;
        height: 50px;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff;
        background: transparent;
        -webkit-font-smoothing: antialiased;
      }

    

      @media (min-width: 33.75em) {
        .form {
          margin: 80px 0 20px;
        }
        .form_input {
          height: 61px;
          font-size: 2rem;
        }
      }
}