.Appli {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    font-family: 'Arvo', serif;
    font-size: 1.125rem;
    line-height: 1.33333;
    color: #999;
    max-width: 810px;
    width: 100%;
    margin: 0 auto;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h1 {
            margin-top: 2rem;
        }
    
        img {
            margin-top: 2rem;
            height: 100px;
            width: 100px;
            
        }
    }
    

    @media screen and (min-width:768px) {
        header{ 
            h1 {
                font-size: 3rem;
            }

            img {
                height: 150px;
                width: 150px;
            }
        }
        
    }

    @media screen and (min-width:1024px) {
        header {
            h1 {
                font-size: 4rem;
            }

            img {
                height: 200px;
                width: 200px;
            }
        }
        
    }
      
}