.BtnControle {
    width: 60%;
    margin-top: 5rem;
    .nombre-tache {
        text-align: center;
        margin-bottom: 1rem;
    }

    .btn-controleur {
        display: flex;
        justify-content: space-evenly;
        button {
            padding: 1rem;
        }
    }

    .supprime-all {
        text-align: center;
        max-width: 810px;
        width: 100%;
        margin: 1rem auto;

        button {
            padding: 1rem;
            
        }
    }
    .droits {
        position:absolute;
        bottom: 95;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }


    @media screen and (min-width:768px) {
        .btn-controleur {
            strong {
                font-size: 1.2rem;
            }

            button {
                padding: 1.2rem;
            }
        }

        .supprime-all {
            strong {
                font-size: 1.2rem;
            }
            button {
                padding: 1.2rem;
                
            }
        }
    }

    @media screen and (min-width:1024px) {
        .btn-controleur {
            strong {
                font-size: 1.5rem;
            }

            button {
                padding: 1.5rem;
            }
        }

        .supprime-all {
            strong {
                font-size: 1.5rem;
            }
    
            button {
                padding: 1.5rem;
                
            }
        }
    }
        
        
    
}

